<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
<dict>
	<key>CFBundleExecutable</key>
	<string>sharity-client</string>
	<key>CFBundleIconFile</key>
	<string>sharity.icns</string>
	<key>CFBundleIdentifier</key>
	<string>xyz.instellate.sharity</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSUIElement</key>
	<true/>

	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Sharity File Sharing</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sharity</string>
				<string>usharity</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
